ul.fixedTool.hidden-xs
  li
    .qrBox
      img(src="/images/qr.jpg", alt="")
    .tool
      .pic.qr
      .text 微信
  li
    .hideBox 联系方式：0351-2451999
    .tool
      .pic.phone
  li.mt-50#goToTop
    .tool
      .pic.goToTOP
      .text
        | 回到顶部
       
    