footer.footer
  .container
    a(href="/join")
      img(src="/images/joining.jpg", alt="")
    .row
      .col-lg-4
        ul.info
          li 
            .title 公司名称
            .content 山西德宇创星科技有限公司
          li 
            .title 公司地址
            .content 山西省太原市小店区君威国际金融中心B座901室
          li 
            .title 合作单位
            .content
              .row
                .col-xs-12
                  a(href="http://www.gov.cn") 中国政府网_中央人民政府门户网站
                .col-xs-12
                  a(href="http://app1.sfda.gov.cn/datasearch/face3/dir.html") 国家食品药品监督管理总局
                .col-xs-12
                  a(href="http://www.stats.gov.cn") 中华人民共和国国家统计局
              .row
                .col-xs-12
                  a(href="http://www.hzpnews.com/xingyezixun") 化妆品行业网
                .col-xs-12
                  a(href="http://cpquery.sipo.gov.cn") 中国政府网_中央人民政府门户网站
                .col-xs-12
                  a(href="http://www.sipo.gov.cn") 中华人民共和国国家知识产权局

      .col-lg-4.concat
        img(src="/images/24h.jpg", alt="")    
        .line
        .tel
          .tel-title VIP专线
          .tel-num 0351-2451999
        .tel
          .tel-title 客服热线
          .tel-num 0351-2451999

      .col-lg-4.wechat
        .clearfix
          .pull-left
            | 关注公众号
            br
            | 获取最新产品信息
            br
            | 和会员优惠
          .pull-right
            img(src="/images/qr.jpg", alt="")
        .line.weline
        p 京ICP备11017824号-4 京ICP证130164号 
        p 北京市公安局朝阳分局备案编号:11010502000501
        p 网络文化经营许可证 京网文[2016]6173-844号 
        p 广播电视节目制作经营许可证 （京）字第06990号
