
nav.navbar.navbar-default.nav-top.navbar-static-top
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.hidden-lg(href="http://xcx.sunpun.com/") 山西德宇创星科技有限公司
            a.navbar-brand(href='/').hidden-xs
              img(src="/images/logo.png", alt="")
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            p.navbar-text.hidden-xs= title
            block navbar
        // /.navbar-collapse
        // /.container-fluid