<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="跨入新时代，“互联网+”和“新零售”成为引领经济发展的新趋势，德宇创星积极推进新经济结构转型，构建新经济体系，搭建新零售平台，有效整合市场资源。推出以“生活、服务、共享、科技、财富”为理念的高端服务品牌——DUY。DUY打破传统竞争瓶颈，致力于在全国范围内设立“千城万店”的全民高端生活体验馆，打造中国第一家共享服务式平台。")
    meta(name="keywords", content="化妆品,日用品,护肤品,生活,服务,共享,美容,科技,财富,体验,DUY,德宇创星,山西化妆品,太原化妆品,太原新零售,新零售,化妆品加盟,太原化妆品加盟,生活馆,互联网+,平台,化妆品平台,加盟,日用品加盟,护肤品加盟,千城万店,高端美容院,高端生活体验馆,蓝月亮,奥妙,夏士莲,纳爱斯,滴露,强生,玉兰油,舒肤佳,力士,蔻斯汀,美涛,拉芳,滋源,雨洁,丝蕴,海飞丝,潘婷,飘柔,沙宣,清扬,多芬,吕,舒蕾,阿道夫,美即,韩后,森田,卡姿兰,美宝莲,春纪,强生,高姿,妮维雅,曼秀雷敦,郁美净,百雀羚,hola,相宜本草,佰草集,美肤宝,一叶子,韩束,法兰琳卡,芙丽芳丝,梦妆,皮肤,美容仪,美容,美白,祛痘,祛斑,除皱,油性皮肤,干性皮肤,小气泡,脱毛仪")
    title #{title}
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/common.css")
    link(rel="stylesheet", href="https://cdn.bootcss.com/animate.css/3.5.1/animate.min.css")
    block css
    block scripts
      script(src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js")
      script(src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js")
      script(src="https://cdn.bootcss.com/wow/1.1.2/wow.min.js")
      script(src="/javascripts/common.js")
  body
    include ./includes/fixedTool.pug
    block nav
    block content
    block footer
      include includes/footer.pug