.tit {
    color: #50985f;
}
.tit .small{
    margin-top: 20px;
    font-size: 50%;
}
.barPic {
    margin: 0;
}

.job-title {
    font-size: 48px;
    
}
.job {
    padding-left: 50px;
}
dt {
    margin: 10px 0;
}
dd {
    line-height: 30px;
}




/*************************** 合作招募页面 ***************************/
.leftPic {
    position: absolute;
    bottom: 200px;
    left: -100px;
}
.form-wrap  {
    border: 2px solid #d5d9ff;
    position: relative;
    padding: 80px 54px;
}
.form-wrap button {
    background: #1282f2;
    color: #fff;
    border-radius: 0;
    border: 2px solid #fff;
}
.form-wrap button:hover,.form-wrap button:focus {
    background: #2f8fef;
    color: #fff;
    border: 2px solid #fff;
}
.btn-wrap {
    background: #2f8fef;
    padding: 5px;
}
.topLeftPic {
    position: absolute;
    top: -70px;
    left: -25px;
}
.bottomRightPic {
    position: absolute;
    right: -450px;
    bottom: 0;
}


/************************** OA办公页面 **************************/
.barPic {
    margin: 0;
}
.shadow {
    padding-left: 10px;
    padding-right: 10px;
}
.oaBarWrap {
    margin: 150px -10px 0;
}
.caption {
    padding-left: 20px;
}
.caption h3 {
    font-weight: bold;
}
.pages .active a, .pages .active a:hover{
    background: #000;
}
.items {
    padding-left: 150px;
    padding-right: 40px;
}
/* 资料分类模块 */

.maskPic {
    position: relative;
    height: 210px;
}
.maskPic .des {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(2, 95, 53, 0.5);
    text-align: center;
    transition: all 0.4s;
    overflow: hidden;
}
.maskPic .des:hover {
    background: rgba(2, 95, 53, 0.9);
}
.maskPic .des:hover h2 {
    transform: translateY(-100%)
}

.maskPic .des h2{
    transition: all 0.3s;
    line-height: 210px;
    margin: 0;
}


/********************************* 登录页面 *********************************/

.login-wrap {
    border: 4px solid #bfbfbf;
    position: relative;
    padding: 70px 70px 40px 20px;
    margin-bottom: 150px;
    background: #fff;
}
.login-wrap .topLeftPic {
    position: absolute;
    top: -50px;
    left: -50px;
}
.login-wrap .bottomRightPic {
    position: absolute;
    right: -304px;
    bottom: -180px;
    z-index: -1;
}
.btn-wrap {
    background: #025f35;
    margin-top: 50px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
}
.btn-wrap:hover {
    background: #257c55;
}
.btn-text-wrap {
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    line-height: 48px;
    font-size: 20px;
}
.subButton {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}
