extends ../layout
block css
  link(rel="stylesheet", href="/stylesheets/about.css")
  include ../includes/swiper.pug
block nav
  include ../includes/nav.pug
    block navbar
        ul.nav.navbar-nav.navbar-right
            li
                a(href='/') 首页    
            li
                a(href="/product") 产品介绍
                
            li
                a(href="/entityShop") DUY
                
            li.active
                a(href="/about")  关于我们
                .selected
            li
                a(href="/join")  合作招募
            li
                a(href="/hr")  诚聘英才
            li
                a(href="/oa")  OA办公
block content
  .jumbotron.text-center
    h1.wow.bounceInUp  COOPERATION IS THE DRIVING FORCE
  .main.container
    .top-bar.hidden-xs
    //- 导航 搜索框
    .topBar.clearfix
      ol._breadcrumb.pull-left
        li
          a(href="/") 首页 
       
        li.active  关于我们
    .row
      .col-lg-6
        p.text-muted.mt-50  WELCOME TO ARUPE
        h3.wow.bounceInUp 我们的目标和价值观<span>支撑</span>着我们所做的一切
        .line
        p.text-muted.mt-50 山西德宇创星科技有限公司，坐落于华北腹地龙城太原，注册资金1000万元，业务经营范围为计算机软硬件研发及销售、展览展示服务、组织文化艺术交流活动、电脑图文设计、制作、广告业务、进出口贸易、日用品销售。
        p.text-muted 德宇创星前身为2014年成立的伟洲咨询中心。公司核心团队为朝气蓬勃、奋勇创新的80、90后，主要从事互联网信息咨询服务（商业平台建设、平台商业化营销）等业务。在多年经营过程中，伟洲咨询中心凭借自身优势，汲取了各行业经营优势及理念。
        p.text-muted 跨入新时代，“互联网+”和“新零售”成为引领经济发展的新趋势，伟洲咨询中心在吸收新时代经济理念的同时，考察传统市场经济。发现传统市场存在线上体验感不高，线下实体竞争力不足的问题。在这基础之上，伟洲咨询中心积极推进新经济结构转型，构建新经济体系，搭建新零售平台，有效整合市场资源。2018年3月德宇创星在以创始人杜宇先生为核心的团队努力下成功实现转型。
        p.text-muted 德宇创星拥有高效的工作机制，全员秉承“志于道，据于德，依于仁 ”的企业文化，精心推出以“生活、服务、共享、科技、财富”为理念的高端服务品牌——DUY生活体验馆。DUY打破传统竞争瓶颈，致力于在全国范围内设立“千城万店”的全民高端生活体验馆，打造中国第一家共享服务式平台。
      .col-lg-6
        img(src="/images/about.jpg", alt="")
    .bar-Pic
      .row
        .col-sm-4.wow.bounceInUp
          .num 企业形象
          p Enterprise image
        .col-sm-4.wow.bounceInUp
          .num 企业文化
          p  Corporate culture
        .col-sm-4.wow.bounceInUp
          .num  企业理念
          p  Enterprise concept
    //- 团队
    .team-wrap
      .row.mt-50
        .col-lg-6
          h2 顶级运营团队
          p  WORLD TOP OPERATION TEAM
        .col-lg-6.hidden-xs
          .pull-right.text TOP OPERATION TEAM
      .swiper-container
        .swiper-wrapper
            .swiper-slide
                img.img-responsive(src="/images/team.jpg", alt="")
            .swiper-slide
                img.img-responsive(src="/images/team.jpg", alt="")
            .swiper-slide 
                img.img-responsive(src="/images/team.jpg", alt="")
            .swiper-slide
                img.img-responsive(src="/images/team.jpg", alt="")
            .swiper-slide
                img.img-responsive(src="/images/team.jpg", alt="")
            .swiper-slide 
                img.img-responsive(src="/images/team.jpg", alt="")
    //- 最新动态
    .news.mt-50.block
    
      .header
        .title 
          | RECENT NEWS
          .title-text 最新动态
      ol.wow
        li.news.mt-50.clearfix
          img(src="/images/newsTop1.jpg", alt="").pull-left.mt-31
          img(src="/images/news1.png", alt="").pull-left
          a(href="/news/1").news-content.pull-left.mt-31
            .arraw 
           
            h4.news-title 德宇创星▪DUY生活馆，我们不一样
            p.text-muted  我们的目标 始终如一感受创世纪
            p.hot.clearfix
                span.pull-left.mr-40 266人浏览
                span.pull-left 2018-4-28
        li.news.mt-50.clearfix
          img(src="/images/newsTop2.jpg", alt="").pull-left.mt-31
          img(src="/images/news2.jpg", alt="").pull-left
          a(href="/news/2").news-content.pull-left.mt-31
            .arraw 
            h4.news-title 爸妈，今年的我不再是独自前行
            p.text-muted.text-hidden  时间总是在不知不觉中改变我们的生活轨迹，而我们对这种改变毫无察觉。
            p.hot.clearfix
                span.pull-left.mr-40 256人浏览
                span.pull-left 2018-4-23
        li.news.mt-50.clearfix
          img(src="/images/newsTop3.jpg", alt="").pull-left.mt-31
          img(src="/images/news3.jpg", alt="").pull-left
          a(href="/news/3").news-content.pull-left.mt-31
            .arraw 
            h4.news-title 妈，我想给您画个妆……
            p.text-muted  风日，有人提醒加衣；雨天，有人撑伞相迎。
            p.hot.clearfix
                span.pull-left.mr-40 399人浏览
                span.pull-left 2018-4-21
      nav.pages.text-center(aria-label='Page navigation')
        ul.pagination
            li.disabled
                a(href='#', aria-label='Previous')
                    span(aria-hidden='true') &laquo;
            li.active
                a(href='#') 1
          
            li.disabled
                a(href='#', aria-label='Next')
                    span(aria-hidden='true') &raquo;   
      .about
        .about-text
            img(src="/images/aboutTitle.jpg", alt="")  
            p 德宇创星▪DUY生活体验馆，是以“生活、服务、共享、科技、财富”为理念的高端服务品牌。DUY打破传统竞争瓶颈，致力于在全国范围内设立“千城万店”的全民高端生活体验馆，打造中国第一家共享服务式平台。
            p DUY以“3+N”“养护彩妆”为核心；以“共享”“科技”“个性化定制”为服务理念。同时，DUY为会员打造出“尊享”“分红”“增值”的机制。DUY致力于为消费者创造自然舒适的优质服务，完美演绎“科技亮肤，柔性之美” 
        .about-pic.pull-right.hidden-xs
            img.prd-gb(src="/images/about-pic.jpg", alt="")
            img.about-prd-pic(src="/images/about-prd.png", alt="").wow.bounceInRight
  script.
    new WOW().init();
    var swiper = new Swiper('.swiper-container', {
        autoplay:true,
        spaceBetween : 45,
       slidesPerView : 2,
       centeredSlides : true,
    });

    

      
    
