extends ../layout
block css
  link(rel="stylesheet", href="/stylesheets/entityShop.css")
block nav
  include ../includes/nav.pug
    block navbar
        ul.nav.navbar-nav.navbar-right
            li
                a(href='/') 首页    
            li
                a(href="/product") 产品介绍
                
            li.active
                a(href="/entityShop") DUV生活馆
                .selected
            li
                a(href="/about")  关于我们
            li
                a(href="/join")  合作招募
            li
                a(href="/hr")  诚聘英才
            li
                a(href="/oa")  OA办公
block content
  img.barPic(src="/images/bar-pic.jpg", alt="")
  .container
    //- 导航 搜索框
    .topBar.clearfix
      ol._breadcrumb.pull-left
        li
            a(href="/") 首页 
            |  
        li.active 实体店铺
      //- .searchWrap.pull-right
      //-   .pull-left
      //-     .btn-group
      //-       .btn.btn-default.dropdown-toggle.cate-btn(data-toggle="dropdown")
      //-         | 分类 
      //-         span.caret
      //-       ul.dropdown-menu
      //-         li
      //-           a(href="#") 分类一
      //-         li
      //-           a(href="#") 分类二
      //-   .input-wrap.pull-left
      //-     input(type="text", placeholder="搜索今日新品吧...")
      //-   .search-wrap
      //-     button.btn.btn-default
      //-       span.glyphicon.glyphicon-search
    //-  体验区
    .block
      .header
        .title 
          | TIYANQU
          .title-text 生活馆
      .box-content
        .row
          .ty-shop.clearfix
            img.pull-left.img-responsive(src="/images/tyShop.jpg", alt="")
            .ty-shop-des.pull-left
              a(href="/entityShop/2")
                h3.wow.bounceInUp 德宇创星•DUY生活体验
              p.wow.bounceInRight(data-wow-delay="0.2s") 我们的目标
              p.wow.bounceInRight(data-wow-delay="0.4s") 和价值观支撑着我们所做的一切
              p.hot.clearfix.wow.bounceInRight(data-wow-delay="0.6s")
                  span.pull-left.mr-40 256人浏览
                  span.pull-left 2018-3-30
              a.hide(href="/entityShop/2").more  more  >
          .ty-shop
            div.mr-20.clearfix
              img.pull-right(src="/images/tyShop2.jpg", alt="")
              .ty-shop-des.pull-left.ty2
                a(href="/entityShop/2")
                  h3.wow.bounceInUp 德宇创星•DUY生活体验
                p.wow.bounceInLeft(data-wow-delay="0.2s")  志于道 据于德 依于仁
                p.hot.clearfix.wow.bounceInLeft(data-wow-delay="0.6s")
                    span.pull-left.mr-40 298人浏览
                    span.pull-left 2018-3-30
                a.hide(href="/entityShop/2").more  more  >
          .ty-shop.clearfix.ty3
            img.pull-left.img-responsive(src="/images/tyShop.jpg", alt="")
            .ty-shop-des.pull-left
              a(href="/entityShop/2")
                h3.wow.bounceInUp 德宇创星•DUY生活体验
              p.wow.bounceInRight(data-wow-delay="0.2s")  生活、服务、共享、科技、财富
              p.hot.clearfix.wow.bounceInRight(data-wow-delay="0.6s")
                  span.pull-left.mr-40 256人浏览
                  span.pull-left 2018-3-30
              a(href="#").more.hide  more  >
            .pull-left.tyNavPage
              nav.pages.text-center(aria-label='Page navigation')
                ul.pagination
                    li.disabled
                        a(href='#', aria-label='Previous')
                            span(aria-hidden='true') &laquo;
                    li.active
                        a(href='#') 1
                  
                    li.disabled
                        a(href='#', aria-label='Next')
                            span(aria-hidden='true') &raquo;   

    //- 全部店铺
    .block.box2
      .header
        .title 
          | QIANCHENGWANDIAN
          .title-text 千城万店
      .box-content
        .row.mlr-50
          a(href="/entityShop/2").col-lg-4
            .shop-item.thumbnail
              img.img-responsive(src="/images/shop.jpg", alt="")
              .caption
                h3 
                  | 菲律宾马尼拉大都会
                p.text-hidden  始终如一，感受设计新纪元始终如一，感受设计新纪元
               
          a(href="/entityShop/2").col-lg-4.newShop
            .shop-item.thumbnail
              //-.newShop  THE NEW
              img.img-responsive(src="/images/shop.jpg", alt="")
              .caption
                h3 
                  | 菲律宾马尼拉大都会
                p.text-hidden  始终如一，感受设计新纪元始终如一，感受设计新纪元
               
          a(href="/entityShop/2").col-lg-4
            .shop-item.thumbnail
              img.img-responsive(src="/images/shop.jpg", alt="")
              .caption
                h3 
                  | 菲律宾马尼拉大都会
                p.text-hidden  始终如一，感受设计新纪元始终如一，感受设计新纪元
              
          a(href="/entityShop/2").col-lg-4.newShop
            .shop-item.thumbnail
              img.img-responsive(src="/images/shop.jpg", alt="")
              .caption
                h3 
                  | 菲律宾马尼拉大都会
                p.text-hidden  始终如一，感受设计新纪元始终如一，感受设计新纪元
              
          a(href="/entityShop/2").col-lg-4
            .shop-item.thumbnail
              img.img-responsive(src="/images/shop.jpg", alt="")
              .caption
                h3 
                  | 菲律宾马尼拉大都会
                p.text-hidden  始终如一，感受设计新纪元始终如一，感受设计新纪元
               
    nav.pages.text-center(aria-label='Page navigation')
        ul.pagination
            li.disabled
                a(href='#', aria-label='Previous')
                    span(aria-hidden='true') &laquo;
            li.active
                a(href='#') 1
            li.disabled
                a(href='#', aria-label='Next')
                    span(aria-hidden='true') &raquo; 
  script.
    new WOW().init();  
