extends ../layout
block css
  link(rel="stylesheet", href="/stylesheets/hr.css")
block nav
  include ../includes/nav.pug
    block navbar
        ul.nav.navbar-nav.navbar-right
            li
                a(href='/') 首页    
            li
                a(href="/product") 产品介绍
            li
                a(href="/entityShop") DUY
            li
                a(href="/about")  关于我们
            li.active
                a(href="/join")  合作招募
                .selected 
            li
                a(href="/hr")  诚聘英才
            li
                a(href="/oa")  OA办公
block content
  img.barPic(src="/images/pageBanner/join.jpg", alt="")
  //-   img.leftPic(src="/images/joinPic1.png", alt="")
  .container
    .top-bar.hidden-xs
    //- 导航 搜索框
    .topBar.clearfix.mt-50
      ol._breadcrumb.pull-left
        li
          a(href="/") 首页 
       
        li.active  合作招募
    .jumbotron(style="display:none").text-center

      h1 提交成功
      p
        span#intalval 5 
        | s后回到首页
      p 
        a.btn.btn-primary.btn-lg(href="/") 回到首页
    .block.mt-50
      .header
        .title 
          | HEZUOZHAOMU
          h1.title-text 合作招募  
      .block-content
        .col-lg-10.col-lg-offset-1.form-wrap    
          img.img-responsive.topLeftPic(src="/images/joinPic2.png", alt="")
          img.img-responsive.bottomRightPic(src="/images/joinPic3.jpg", alt="")
          form#joinForm
            .col-sm-6
               .form-group
                 label(for="name") 姓名
                 input#name.form-control(type="text", placeholder="姓名", name="name", required)
            .col-sm-6
              .form-group
                label(for="city") 城市
                input#city.form-control(type="text", placeholder="城市", name="city", required)
           
            .col-sm-6 
              .form-group
                label(for="phone") 电话
                input#phone.form-control(type="text", placeholder="手机号", name="phone", required)
            .col-sm-6 
              .form-group
                label(for="email") 邮箱
                input#email.form-control(type="email", placeholder="email", name="email", required)
            .col-sm-12
              .form-group
                label(for="remarks") 备注
                textarea.form-control(rows="6", name="remarks")
            .col-sm-4.col-sm-offset-4
              .btn-wrap
                button.subButton(type="submit")
                .btn-text-wrap 提交
              //- .btn-wrap.mt-50
              //-   button.btn.btn-default.btn-lg.btn-block(type='submit') 提交
  script.
    
    $(function() {
      new WOW().init();
      $('#joinForm').submit(function(event) {
            event.preventDefault();
            var form = $(this);
            $.ajax({
                type: 'POST',
                url: '/join',
                data: form.serialize()
            }).done(function(data, status) {
                var sec = 5;
                $('.block').hide();
                $('.jumbotron').show()
                $(document).scrollTop(0);
                var intalval = setInterval(function() {
                  sec--;
                  if (sec < 0) {
                    clearInterval(intalval);
                    window.location.href = '/'
                  } else {
                    $('#intalval').text(sec);
                  }
                }, 1000)
            }).fail(function() {
                alert('提交失败，请联系管理员！')
            })
        })
    })
  
    

      
    
