extends ../layout
block css
  link(rel="stylesheet", href="/stylesheets/hr.css")

block nav
  include ../includes/nav.pug
    block navbar
        ul.nav.navbar-nav.navbar-right
            li
                a(href='/') 首页    
            li
                a(href="/product") 产品介绍
            li
                a(href="/entityShop") DUY
            li
                a(href="/about")  关于我们
            li
                a(href="/join")  合作招募
            li
                a(href="/hr")  诚聘英才
            li.active
                a(href="/oa")  OA办公
                .selected
block content
  .block.mt-50
      .header
        .title 
          | OA BANGONG
          .title-text OA 办公
      .block-content
        .row
          .col-md-4.col-md-offset-4.login-wrap
            img.topLeftPic.hidden-xs(src="/images/joinPic2.png", alt="")
            img.bottomRightPic.hidden-xs(src="/images/loginPic.jpg", alt="")
            form#loginForm.form-horizontal
              .form-group
                label.col-sm-2.control-label(for="account") 账号：
                .col-sm-10
                  input#account.form-control(type="text", name="account", placeholder="请输入账号")
              .form-group.mt-50
                label.col-sm-2.control-label(for="password") 密码：
                .col-sm-10
                  input#password.form-control(type="password", name="password", placeholder="请输入密码")
              .pull-right(data-toggle="tooltip", data-placement="left" ,title="请联系管理员") 
                span.glyphicon.glyphicon-question-sign
                span 忘记密码
              .form-group
                .row
                  .col-md-7.col-md-offset-3.btn-wrap
                    button.subButton(type="submit")
                    .btn-text-wrap 登录
  .container
    .oaBarWrap
      img.img-responsive(src="/images/oaBarPic.jpg", alt="")
    .block.mt-50
      .header
        .title 
          | JINGCAI DUY
          .title-text 精彩DUY
    .block-content.mt-150
        .row(style="margin-top:26px")
          .col-lg-4
            .img-box-lg
                img(src="/images/us/5.jpg", alt="") 
                .des
                    .pull-left
                        .product-name 深层滋养新技术
                        .product-des 来自美国最新萃取技术
          .col-lg-8
            .row
              .col-md-6
                .img-box-md
                    img(src="/images/us/1.jpg", alt="")
                    .des
                        .pull-left
                            .product-name 深层滋养新技术
                            .product-des 来自美国最新萃取技术
                        //-.pull-right
                            .old-price.text-right 原价 ￥2999.00
                            .new-price ￥1999.00 
              .col-md-6
                .img-box-md
                    img(src="/images/us/2.jpg", alt="")
                    .des
                        .pull-left
                            .product-name 深层滋养新技术
                            .product-des 来自美国最新萃取技术
                        //-.pull-right
                            .old-price.text-right 原价 ￥2999.00
                            .new-price ￥1999.00 
            .row(style="margin-top: 26px")
              .col-md-6
                .img-box-md
                    img(src="/images/us/3.jpg", alt="")
                    .des
                        .pull-left
                            .product-name 深层滋养新技术
                            .product-des 来自美国最新萃取技术
                        .pull-right
                            .old-price.text-right 原价 ￥2999.00
                            .new-price ￥1999.00 
              .col-md-6
                .img-box-md
                    img(src="/images/us/4.jpg", alt="")
                    .des
                        .pull-left
                            .product-name 深层滋养新技术
                            .product-des 来自美国最新萃取技术
                        //-.pull-right
                            .old-price.text-right 原价 ￥2999.00
                            .new-price ￥1999.00 
          
    //-.row.mt-50.items
        .col-lg-6
            img(src="/images/zhanlan.jpg", alt="").pull-left
            .caption.pull-left
                h3 北京绿地广场
                p  我们的目标 始终如一
                p.hot.clearfix
                        span.pull-left.mr-40 256人浏览
                        span.pull-left 2017-6-23
        .col-lg-6
            img(src="/images/zhanlan.jpg", alt="").pull-left
            .caption.pull-left
                h3 北京绿地广场
                p  我们的目标 始终如一
                p.hot.clearfix
                        span.pull-left.mr-40 256人浏览
                        span.pull-left 2017-6-23 
  
  script.
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('#loginForm').submit(function(event) {
            console.log(event)
            event.preventDefault();
            var form = $(this);
            $.ajax({
                type: 'POST',
                url: '/login',
                data: form.serialize()
            }).done(function(data) {
                console.log(data)
                if(data.code == 40001) {
                    alert('账号有误')
                    return
                } else {
                    window.location.href = '/oa'
                }
            }).fail(function() {
                alert('登录失败，请联系管理员！')
            })
        })

      })
  


      
    
