extends ../layout
block css
  link(rel="stylesheet", href="/stylesheets/entityShop.css")
block nav
  include ../includes/nav.pug
    block navbar
        ul.nav.navbar-nav.navbar-right
            li
                a(href='/') 首页    
            li
                a(href="/product") 产品介绍
                
            li
                a(href="/entityShop") DUY生活馆
                
            li.active
                a(href="/about")  关于我们
                .selected
            li
                a(href="/join")  合作招募
            li
                a(href="/hr")  诚聘英才
            li
                a(href="/oa")  OA办公
block content
  img.barPic(src="/images/bar-pic.jpg", alt="")
  .container
    //- 导航 搜索框
    .topBar.clearfix
      ol._breadcrumb.pull-left
        li
          a(href="/") 首页 
        li.active  最新动态
    section.plr-80
      article.mt-50 
        h1  德宇创星▪DUY生活馆，我们不一样
        .mt-50.text-muted
            span.glyphicon.glyphicon-time(aria-hidden='true')
            |  2018-04-28
            span(style="margin: 0 20px")
            span.glyphicon.glyphicon-eye-open(aria-hidden='true')
            |  266
        //-.line
        p.mt-50 山西德宇创星科技有限公司，坐落于华北腹地龙城太原，注册资金1000万元，业务经营范围为计算机软硬件研发及销售、展览展示服务、组织文化艺术交流活动、电脑图文设计、制作、广告业务、进出口贸易、日用品销售。
        p 德宇创星前身为2014年成立的伟洲咨询中心。公司核心团队为朝气蓬勃、奋勇创新的80、90后，主要从事互联网信息咨询服务（商业平台建设、平台商业化营销）等业务。在多年经营过程中，伟洲咨询中心凭借自身优势，汲取了各行业经营优势及理念。
        p 德宇创星拥有高效的工作机制，全员秉承“志于道，据于德，依于仁 ”的企业文化，精心推出以“生活、服务、共享、科技、财富”为理念的高端服务品牌——DUY生活体验馆。DUY打破传统竞争瓶颈，致力于在全国范围内设立“千城万店”的全民高端生活体验馆，打造中国第一家共享服务式平台。
        //-p.text-muted  ·······························································
        
        .main.mt-50
          img.img-responsive.center-block(src="/images/article/1/1.png", alt="")
          //-img.img-responsive(src="/images/360.jpg", alt="")
          //- .row.mt-50
          //-   .col-xs-4
          //-     img.img-responsive(src="/images/article.jpg", alt="")
          //-   .col-xs-4
          //-     img.img-responsive(src="/images/article.jpg", alt="")
          //-   .col-xs-4
          //-     img.img-responsive(src="/images/article.jpg", alt="")
          h2 关于化妆店，我们不一样
            //-<small>Fortune Golden Triangle</small>
          p.text-muted 传统的化妆品专卖店模式自2006年诞生以来，在市场上经过了十多年的发展，已经很难受到消费者的青睐，店铺的经营也日趋艰难，主要存在着:只靠卖产品赚钱，盈利模式单一；受电商和微商的冲击影响比较大；没有核心的经营优势，客户难以形成粘度等问题。“互联网+”和“新零售”成为引领经济发展的新趋势，“德宇创星”发现传统市场存在线上体验感不高，线下实体竞争力不足的问题。“德宇创星”积极构建新经济体系，搭建新零售平台，有效整合市场资源。推出以“3+N”“养护彩妆”为核心的“DUY生活体验馆”。
          .mt-50
            img.img-responsive.center-block(src="/images/article/1/4.png", alt="")
          h2 关于美容院，我们不一样
          p.text-muted 传统的美容院经营模式，存在着很多弊端，不仅会导致美容院经营出现问题，还会导致美容院发展缓慢，逐渐的被美容市场淘汰。其中，美容服务与护理产品相脱节；产品同质化、服务同质化、营销手段同质；美容师工作单一性严重，收益不高：美容院局限于一个城市大约3公里的服务半径。鉴于此，“DUY生活体验馆”形成以“共享”“科技”“个性化定制”为核心的服务模式和理念。
          .mt-50
            img.img-responsive.center-block(src="/images/article/1/5.png", alt="")
          h2 关于会员，我们不一样
          p.text-muted 针对外界普遍困扰的如何维护既有会员，开拓新会员的问题，“DUY生活体验馆”以“会员不等于战利品，会员是朋友”为理念核心，为会员打造出“尊享”“分红”“增值服务”的会员机制。进而形成会员认可品牌经营模式、产品价值，有自主忠诚度，接受不断更新的产品及衍生品，并且主动参与品牌传播、用户互动的营销效应。
          .mt-50
            img.img-responsive.center-block(src="/images/article/1/6.png", alt="")
          h2 关于投资，我们不一样
          p.text-muted 德宇创星现面向全国诚邀投资人共建“千城万店”，打造中国第一家共享服务式平台，与投资人共享新零售新模式红利，德宇创星经过多年经验、市场调研和模型验证，该模式具有强大的市场操作性，可观的市场前景。为保障投资人的权利，德宇创星为每一位投资人提供从店面选址到日常经营等“管家式”全方位服务，包括但不限于：店面支持、产品支持、策划支持、管理支持、培训支持、线上支持、营销支持。
          .mt-50
            img.img-responsive.center-block(src="/images/article/1/7.png", alt="")
          .mt-50
            img.img-responsive.center-block(src="/images/article/1/2.png", alt="")
          